html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	text-decoration: none;
	color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ion-page {
	background: #25262B;
	max-width: 480px;
	margin: auto;
	top: 64px;
}

ion-app {
	max-width: unset !important;
	background: #868686 !important;
	top: 0px !important;
}

// @font-face {
// 	font-family: "Pretendard Variable";
// 	font-weight: 45 920;
// 	font-style: normal;
// 	font-display: swap;
// 	src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");
// }

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");
* {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


h2 {
	font-size: 28px;
	font-weight: 700;
	color: white;
	line-height: 38px;
}

.alignCenter {
	text-align: center;
}

.description {
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
}

.tag {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #FFFFFF;

	background: black;
	border-radius: 18px;
	padding: 8px 16px;
}

strong {
	color: #79C1FF;
}

.radioButton {
	width: 100%;
	height: 64px;
	padding: 0px 12px;
	border-radius: 10px;
	background: #515155;
	display: flex;
	transition: .1s;

	cursor: pointer;

	input {
		display: none
	}

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;

		.imageAndNameContainer {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			gap: 12px;

			.categoryImage {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: #868686;
			}

			.categoryName {
				font-size: 18px;
				font-weight: 700;
				color: white;
			}
		}

	}

	&:hover {
		background: #868686;
	}

	&.checked {
		background: transparent;
		outline: #2699FB 2px solid;

		.container::after {
			margin: 0px 8px;
			content: "";
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: transparent;
			border: 2px solid #2699FB;
			opacity: 1;
		}
	}
}

.mainTopContainer .mainImageContainer{
	max-width: 144px;
}