.loading {
    .wrapper {
        height: 100%;

        .contentContainer {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 60px;
            align-items: flex-start;

            .title {
                line-height: 38px;
            }

            .loadingImage {}
        }


    }


}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
