.loading {
    .wrapper {
        height: fit-content;
        .contentContainer {
						margin-top: 20px;
						margin-bottom: -20px;
            display: flex;
            flex-direction: column;
            gap: 60px;
            align-items: flex-start;
            .title {
							line-height: 3rem;
            }
            .loadingImage {}
					}
    }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
