.selectCategory {
    .wrapper {
        height: 100%;

        .contentContainer {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 60px;
            align-items: flex-start;

            .title {}

            .categoryList {
                width: 100%;

                fieldset {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    width: 100%;
                }
            }

        }


    }

}